<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BeerMeUp</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/beer_me_up</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  
  <servlet>
    <servlet-name>CatalogManagerControl</servlet-name>
    <servlet-class>it.beermeup.control.CatalogManagerControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogManagerControl</servlet-name>
    <url-pattern>/catalogManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDetailControl</servlet-name>
    <servlet-class>it.beermeup.control.ProductDetailControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailControl</servlet-name>
    <url-pattern>/productDetail_control</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartControl</servlet-name>
    <servlet-class>it.beermeup.control.CartControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartControl</servlet-name>
    <url-pattern>/cart_control</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CatalogoControl</servlet-name>
    <servlet-class>it.beermeup.control.CatalogoControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogoControl</servlet-name>
    <url-pattern>/catalogo_control</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProductManagerControl</servlet-name>
    <servlet-class>it.beermeup.control.ProductManagerControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManagerControl</servlet-name>
    <url-pattern>/productManager_control</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>it.beermeup.control.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  
   
   
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>it.beermeup.control.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>it.beermeup.control.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserControl</servlet-name>
    <servlet-class>it.beermeup.control.UserControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControl</servlet-name>
    <url-pattern>/user_control</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddressControl</servlet-name>
    <servlet-class>it.beermeup.control.AddressControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressControl</servlet-name>
    <url-pattern>/address_control</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckoutControl</servlet-name>
    <servlet-class>it.beermeup.control.CheckoutControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutControl</servlet-name>
    <url-pattern>/checkout_control</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UserOrdersControl</servlet-name>
    <servlet-class>it.beermeup.control.UserOrdersControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrdersControl</servlet-name>
    <url-pattern>/user_orders_control</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PaymentMethodControl</servlet-name>
    <servlet-class>it.beermeup.control.PaymentMethodControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentMethodControl</servlet-name>
    <url-pattern>/paymentmethod_control</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserDataControl</servlet-name>
    <servlet-class>it.beermeup.control.UserDataControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDataControl</servlet-name>
    <url-pattern>/userdata_control</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>OrderDetailControl</servlet-name>
    <servlet-class>it.beermeup.control.OrderDetailControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailControl</servlet-name>
    <url-pattern>/orderdetail_control</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckEmail</servlet-name>
    <servlet-class>it.beermeup.control.CheckEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmail</servlet-name>
    <url-pattern>/check_email</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RicercaDinamica</servlet-name>
    <servlet-class>it.beermeup.control.RicercaDinamica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaDinamica</servlet-name>
    <url-pattern>/ricerca_dinamica</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<location>/error.jsp</location>
  </error-page>
  
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
</error-page>
  
  
</web-app>