@charset "UTF-8";


#catalog-page{
	margin-bottom: 5rem;
}



#catalog-page .catalog-container{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 17rem 17rem 17rem 17rem 17rem;
    gap: 3rem;
    width: 100%;
    justify-content: center;
}

#catalog-page .catalog-container .title{
	grid-column: 1 / span 3;
	padding-left: 1rem;
}

#catalog-page .catalog-container .title h1{
	font-size: 2rem;
}

#catalog-page .catalog-container .title h2{
	font-size: 1.2rem;
	font-weight: lighter;
}

#catalog-page .catalog-container .sort{
	display: flex;
	width:100%;
	margin: auto;
	grid-column: 4 / span 2;
	align-items: center;
	justify-content: flex-end;
}

#catalog-page .catalog-container .search-box{
  	display: flex; 
	width:100%;
	margin: auto;
	grid-column: 4 / span 2;
	align-items: center;
	justify-content: flex-end;
	margin-left: 20rem;
	
}




#catalog-page .catalog-container .sort h1{
	font-size: 1.5rem;
	padding-right: 1rem;
}

#catalog-page .catalog-container .sort h2{
	font-weight: lighter;
	
}

#catalog-page .catalog-container .sort a{
	font-size: 1.2rem;
	color: black;
	font-weight: 500;
}

#catalog-page .catalog-container .sort a:hover{
	color: #0030ff;
	
}


#catalog-page .catalog-container .search-box input.search{
	box-shadow: 3px 5px 5px 0px #adaaaa;
	font-size: 1rem;
	height: 2.5rem;
	border-radius: 2rem;
	padding: 1rem;
	float: left;
}

#catalog-page .catalog-container button{
	font-size: 1.3rem;
	padding-right: 2rem;
}


#catalog-page .catalog-container button.search-button{
	box-shadow: 3px 5px 5px 0px #adaaaa;
	display: flex;
	background-color: #ffcf00;
	height: 2.5rem;
	border-radius: 2rem;
	padding:0.6rem;
	color: black;
	
}

#catalog-page .catalog-container button.search-button:hover{
	background-color: #0030ff;
	color: white;
}







#risultati {
  display: block;
  background-color: #ffffff;
  min-width: 230px;
  overflow: auto;
  z-index: 1;
}
#risultati:hover {
border: 1px solid #ddd;
}
#risultati a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#risultati a:hover {background-color: #ddd;
 }

.search-box {
  position: relative;
  display: inline-block;
}

@media (max-width: 1600px){
    #catalog-page .catalog-container{
    	grid-template-columns: 18rem 18rem 18rem 18rem;
	}
	
	#catalog-page .catalog-container .title{
		grid-column: 1 / span 2;
	}
	
	#catalog-page .catalog-container .sort{
		grid-column: 3 / span 2;
	}
	
	#catalog-page .catalog-container .search-box{
		grid-column: 3 / span 2;
	}


@media (max-width: 1350px){
    #catalog-page .catalog-container{
    	grid-template-columns: 15rem 15rem 15rem;
	}
	
	#catalog-page .catalog-container .title{
		grid-column: 1 / span 1;
	}
	
	#catalog-page .catalog-container .sort{
		grid-column: 2 / span 2;
	}
	
	#catalog-page .catalog-container .search-box{
		grid-column: 2 / span 2;
	}
}

@media (max-width: 950px){
    #catalog-page .catalog-container{
    	grid-template-columns: 20rem 20rem;
    	gap: 4rem;
	}
	
	#catalog-page .catalog-container .title{
		grid-column: 1 / span 2;
	}
	
	#catalog-page .catalog-container .sort{
		grid-column: 1 / span 2;
		margin: 0;
		padding-left: 1rem;
		justify-content: flex-start;
	}
	
	#catalog-page .catalog-container .search-box{
		grid-column: 1 / span 2;
		margin: 0;
		padding-left: 1rem;
		justify-content: flex-start;
	}
}

@media (max-width: 750px){
    #catalog-page .catalog-container{
    	grid-template-columns: 18rem 18rem;
    	gap: 2rem;
	}
}

@media (max-width: 600px){
    #catalog-page .catalog-container{
    	grid-template-columns: 25rem;
    	gap: 4rem;
	}
	
	#catalog-page .catalog-container .title{
		grid-column: 1 / span 1;
	}
	
	#catalog-page .catalog-container .sort{
		grid-column: 1 / span 1;
		flex-direction: column;
		align-items: flex-start;
	}
	
	#catalog-page .catalog-container .search-box{
		grid-column: 1 / span 1;
	}
}